---
import NewsletterDialog from "../components/NewsletterDialog.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Diipone Academy | About our Initiative">
  <div
    class="py-20 bg-primary bg-[url('./assets/images/bg-hero.png')] bg-cover bg-center w-full min-h-screen flex flex-col justify-center items-center p-5"
  >
    <img
      src="./assets/images/emblem.svg"
      alt="Diipone Academy Emblem"
      class="drop-shadow-lg"
    />
    <h1
      class="font-bold text-white text-3xl leading-[50px] md:text-6xl md:leading-[70px] max-w-3xl text-center mt-5 drop-shadow-lg"
    >
      What we're all about:
    </h1>
    <div class="mt-5 text-white text-center drop-shadow-sm max-w-4xl text-lg flex flex-col gap-5">
      <p>
        At Diipone Academy, we believe that education is the beacon that
        illuminates the path to a brighter future. Named after the Setswana word
        for "shining light," Diipone Academy is on a mission to make quality
        education accessible and affordable to every child.
      </p>
      <p>
        Our initial focus is on Grade 8, utilizing the nationally recognized
        CAPS Curriculum to ensure a robust foundation for our students. We
        understand the challenges many families face in providing education to
        their children, whether it be due to financial constraints or
        geographical barriers. Diipone Academy is here to bridge that gap and
        bring the light of knowledge to those who need it the most.
      </p>
      <p>
        What sets us apart is our commitment to embracing cutting-edge
        technology in education. Beyond the innovative AI Chatbuddy that
        provides personalized support and guidance, we are actively implementing
        other breakthrough technologies to enhance the learning experience for
        our students.
      </p>
      <p>
        South Africa, with its rich diversity and potential, is at the heart of
        our initiative. By leveraging technology and embracing innovation, we
        aim to create a learning environment that transcends limitations and
        opens doors to endless possibilities for our students.
      </p>
      <p>
        Join us in this exciting journey as we prepare to launch Diipone
        Academy. Together, let's illuminate minds, inspire dreams, and pave the
        way for a brighter, more inclusive future. Stay tuned for updates as we
        work towards making quality education, enhanced by cutting-edge
        technology, a reality for all.
      </p>
    </div>
    <div class="mt-10 flex gap-5">
      <a
        href="/"
        class="flex gap-2 px-4 py-3 rounded-md shadow-sm text-base font-medium text-white bg-white/30 hover:bg-white/50 duration-200"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
        </svg>
         Back</a
      >
    </div>
  </div>
</Layout>

<style>
  .pulse {
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 #f3834099;
    }

    70% {
      box-shadow: 0 0 0 10px #f3834000;
    }
    100% {
      box-shadow: 0 0 #f3834000;
    }
  }
</style>
