---
import NewsletterDialog from "../components/NewsletterDialog.vue";
import AboutDialog from "../components/AboutDialog.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Diipone Academy | Changing Education">
  <div
    class="bg-primary background w-full h-screen flex flex-col justify-center items-center p-5"
  >
    <img
      src="./assets/images/emblem.svg"
      alt="Diipone Academy Emblem"
      class="drop-shadow-lg"
    />
    <h1
      class="font-bold text-white text-3xl leading-[50px] md:text-6xl md:leading-[70px] max-w-3xl text-center mt-5 drop-shadow-lg"
    >
      Creating the future of <span class="text-secondary"
        >affordable online learning</span
      > for all.
    </h1>
    <div class="mt-10 flex gap-5">
      <AboutDialog client:load />
      <NewsletterDialog client:load />
    </div>
  </div>
</Layout>

<style>
  .background {
    background-image: url('./assets/images/bg-hero.webp');
    background-position: center;
    background-size: cover;
  }
</style>