---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Diipone Academy | Changing Education">
  <div
    class="bg-primary bg-[url('./assets/images/bg-hero.png')] bg-cover bg-center w-full h-screen flex flex-col justify-center items-center p-5"
  >
  <iframe src="https://cdn.forms-content-1.sg-form.com/45219af9-81f9-11ee-b6f9-fe41ea73d62e" class="w-full h-full"/>
  </div>
</Layout>

<style>
  .pulse {
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 #f3834099;
    }

    70% {
      box-shadow: 0 0 0 10px #f3834000;
    }
    100% {
      box-shadow: 0 0 #f3834000;
    }
  }
</style>
